<h1 class="text-center"><%= @blog_post.title %></h1>
<h2 class="text-center">Posted in <%= @user_blog.title %></h2>
<p class="text-center"><%= @blog_post.date_posted %></p>
<p class="text-center"><%= @blog_post.blog_text %></p>

<%= link_to 'Edit Post', edit_user_blog_blog_post_path(@user_blog, @blog_post) %>
