<h1 class="text-center"><%= @user_blog.title %></h1>
<p class="text-center"><%= @user_blog.category %></h1>
<p class="text-center"><%= @user_blog.description %></h1>

<div class="container center-block" id="blog-posts">
    <% @current_posts.each do |current_post| %>
      <div class="panel panel-default">
        <div class="panel-heading text-center"><%= link_to current_post.title, user_blog_blog_post_path(@user_blog, current_post) %></div>
        <div class="panel-body text-center">
          <p id="post-date"><%= current_post.date_posted %></p>
          <p id="post-text"><%= current_post.blog_text %></p>
        </div>
      </div>
    <% end %>
</div>

<div class="footer">
  <%= link_to 'Edit Blog', edit_user_blog_path(@user_blog) %>
  <%= link_to 'Delete Blog', user_blog_path(@user_blog), method: :delete %>
  <%= link_to 'Create Blog Post', new_user_blog_blog_post_path(@user_blog) %>
</div>
