<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Bellefair' %>
  </head>

  <body id="home-image">
    <nav>
      <% if current_user %>
        <button class="btn btn-danger" id="logout-button"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'home-links' %></button>
        <% else %>
        <%= link_to 'Register', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
  </body>
</html>
